@font-face {
  font-family: 'Argent Pixel';
  src: url('Argent Pixel CF v1.0/Webfont/ArgentPixelCF-Regular.woff2') format('woff2'),
       url('Argent Pixel CF v1.0/Webfont/ArgentPixelCF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter', sans-serif; /* Fallback font */
  padding: 0;
  margin: 0;
}

/* Reset dei margini predefiniti */
html, body, p {
  margin: 0;
  padding: 0;
}

/* Stili base per il testo */
.welcome {
  color: #FFF500;
  line-height: normal;
  white-space: nowrap;
  font-size: calc(40px + 5vw); /* Dimensione relativa alla larghezza della viewport */
}

/* Stili specifici per "Wel" */
.argent-pixel {
  font-family: 'Argent Pixel', sans-serif;
  /* Nessun bisogno di specificare 'display' o 'font-size' se non diversi da .welcome */
}

/* Stili specifici per "come!" */
.inter {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 700;
  /* 'font-family' ereditato da .frame, quindi non c'è bisogno di ripeterlo qui se non cambia */
  /* Se Inter deve avere un peso diverso da 'normal', specificarlo qui, altrimenti non è necessario */
}

/* Dimensioni e stili per il nome "Francesco Cerisano" */
.frame .subtitle {
  font-family: "Argent Pixel", Helvetica;
  font-size: calc(15px + 1.4vw); /* Dimensione relativa alla larghezza della viewport */
  margin: -1vh 0; /* Aggiunge un po' di spazio verticale sopra e sotto il nome */
}

/* Stili base per i box "About me" e "Projects" */
.frame .navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Spazio tra i bottoni */
  margin: 5vh 0;
}

.frame .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px; /* Padding intorno al testo nei bottoni */;
  border: 1px solid #ffffff;
  margin: 1vw;
  box-sizing: border-box;
}

/* Stili per il testo nei box */
.frame .button {
  font-family: "Inter", Helvetica;
  font-weight: 300;
  font-size: calc(8px + 1vw);
  letter-spacing: 0;
  text-decoration: none;
  color: white;
  background-color: transparent;
}
.button-container:hover {
  background-color: blue;
}

.button-container:hover .button {
  color: white; /* Cambia il colore del testo al passaggio del mouse */
}
